<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">About</h2>
    </div>
  </div>
</div>

<!-- Career -->
<div class="container page-section" id="career">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="text-uppercase"><span class="h3 font-weight-bold">Career</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="timeline">
        <%
          let flip = true;
          for (const timeline of contents.career) {
            flip = !flip;
        %>
        <li class="<%= flip ? 'timeline-inverted' : '' %>">
          <div class="timeline-image">
            <!-- <img class="rounded-circle img-fluid" src="" alt=""> -->
            <%- timeline.image %>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4><%= timeline.date %></h4>
              <h4 class="subheading"><%= timeline.title %></h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted"><%- timeline.text %></p>
            </div>
          </div>
        </li>
        <% } %>
        <li>
          <div class="timeline-image">
            <h4>
              そして<br>
              現在に<br>
              至る
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div><!-- Career -->

<!-- Beliefs -->
<div class="container page-section" id="beliefs">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="text-uppercase"><span class="h3 font-weight-bold">Beliefs</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% for (const line of contents.beliefs) { %>
        <p><%- line %></p>
      <% } %>
    </div>
  </div>
</div><!-- Beliefs -->

<!-- Values -->
<div class="container page-section" id="values">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="text-uppercase"><span class="h3 font-weight-bold">Values</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% for (const line of contents.values) { %>
        <p><%- line %></p>
      <% } %>
    </div>
  </div>
</div><!-- Values -->

<!-- Strength -->
<div class="container page-section" id="strength">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="text-uppercase"><span class="h3 font-weight-bold">Strength</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% for (const line of contents.strength) { %>
        <p><%- line %></p>
      <% } %>
    </div>
  </div>
</div><!-- Strength -->

<!-- Weakness -->
<div class="container page-section" id="weakness">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="text-uppercase"><span class="h3 font-weight-bold">Weakness</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% for (const line of contents.weakness) { %>
        <p><%- line %></p>
      <% } %>
    </div>
  </div>
</div><!-- Weakness -->

<!-- Wanna Try -->
<div class="container page-section" id="wannatry">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="text-uppercase"><span class="h3 font-weight-bold">Wanna Try</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% for (const line of contents.wannatry) { %>
        <p><%- line %></p>
      <% } %>
    </div>
  </div>
</div><!-- Wanna Try -->
