<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading text-uppercase">Portfolio</h2>
    <h3 class="section-subheading text-muted">個人的な開発実績</h3>
  </div>
</div>
<div class="row">
  <%
    let idCounter = 0;
    for (const item of contents.portfolio) {
      if (item.name === '$TEMPLATE') {
        continue;
      }
      idCounter++;
  %>
  <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex flex-column portfolio-item">
    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal<%- idCounter %>">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">詳しく見る</div>
      </div>
      <% if (item.thumbnail === '') { %>
      <img class="img-thumb" src="/img/portfolio/no-image-thumb.png" alt="<%- item.name %>">
      <% } else { %>
        <img class="img-thumb" src="/img/portfolio/<%- item.thumbnail %>" alt="<%- item.name %>">
        <% } %>
    </a>
    <div class="w-100 flex-fill d-flex flex-column justify-content-center portfolio-caption">
      <h4 class="mb-2"><%= item.name %></h4>
      <small class="text-muted"><%= item.tag %></small>
    </div>
  </div>
  <% } %>
</div>
