<%
let idCounter = 0;
for (const item of contents.portfolio) {
  if (item.name === '$TEMPLATE') {
    continue;
  }
  idCounter++;
%>

<!-- Modal -->
<div class="modal fade" id="portfolioModal<%- idCounter %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl text-center" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 pt-4 pr-4 pb-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="material-icons">close</i>
          </span>
        </button>
      </div>
      <div class="modal-body px-5 py-4">
        <h2 class="mb-3"><%= item.name %></h2>
        <p class="item-intro text-muted mb-5"><%= item.lead %></p>

        <%
          if (typeof item.images === 'string') {
            // 単一の画像
            if (item.images === '') {
              // 画像未設定
        %>
        <img class="img-fluid d-block mx-auto" src="/img/portfolio/no-image.png" alt="<%= item.name %>">
        <%
            } else {
        %>
        <img class="img-fluid d-block mx-auto" src="/img/portfolio/<%- item.images %>" alt="<%= item.name %>">
        <%
            }
          } else if (Array.isArray(item.images)) {
            // 複数の画像
            for (const image of item.images) {
              if (typeof image === 'string') {
                // 画像のファイル名
        %>
        <img class="img-fluid d-block mx-auto" src="/img/portfolio/<%- image %>" alt="<%= item.name %>">
        <%
              } else {
                // 画像ファイル名と補足文のセット
        %>
        <img class="img-fluid d-block mx-auto" src="/img/portfolio/<%- image['file'] %>"
          alt="<%- image['description'] %>">
        <%
              }
            }
          }
        %>

        <p class="my-5"><%- item.description %></p>

        <% if (item.attributes) { %>
        <table class="table table-borderless col-12 col-lg-8 col-xl-6 mx-auto">
          <tbody>
            <% for (const key in item.attributes) { %>
            <tr>
              <th scope="row" class="text-left text-nowrap"><%= key %></th>
              <% if (item.attributes[key].startsWith('http')) { %>
              <td>
                <a href="<%= item.attributes[key] %>" target="_blank">
                  こちら
                  <small><i class="material-icons">open_in_new</i></small>
                </a>
              </td>
              <% } else { %>
              <td><%= item.attributes[key] %></td>
              <% } %>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
      </div>
      <div class="modal-footer border-top-0 pt-0 pb-4 pr-4">
        <button class="btn btn-primary px-5" data-dismiss="modal" type="button">閉じる</button>
      </div>
    </div>
  </div>
</div><!-- Modal -->

<% } %>
